:root {
    /* variables to adjust cursor */
    --CursorSize: 34px;
    --CursorTop: 0;
    --CursorLeft: 0;
}

body {
    /* Boundaries where the custom Cursor shows */
    min-height: 100vh;
    min-height: 100svh;  
    min-width: 100vw;
    min-width: 100svw;
}

* { 
    /* Disables the usual cusor to instead uses the Div */
    cursor: none;
}

#Cursor{
    /* Sets sizing based on variable and position fixed to move using top and left */
    position: fixed;
    width: var(--CursorSize);
    aspect-ratio: 1;
    
    /* rounds the div and applies other various visual styling */
    border-radius: 50%;
    border: 4px solid #66CED6;
    outline: 2px solid #232323;

    /* sets the top and left values using JS 
    and CSS calculations to make the div center on the mouse point */
    top: calc(var(--CursorTop) - var(--CursorSize)/2);
    left: calc(var(--CursorLeft) - var(--CursorSize)/2);

    /* Delays the div movement adjusing toward the mouse location
    also a really high z-index so it shows above all element */
    transition: 100ms ease-out;
    z-index: 10000;
    pointer-events: none; /* clicks through div allowing :hover and actual clicks */
}
#Cursor::after {
    /* private variable to calculate inner circle (pseudo element) size based on div */
    --_TracerSize: calc(var(--CursorSize)/2.5);
    content: "";
    position: fixed;

    background: #E26D8A;
    width: var(--_TracerSize);
    aspect-ratio: 1;
    outline: 1px solid #232323;

    /* Centers inner circle within the div / where the pointer is pointing */
    top: calc(var(--CursorTop) - var(--_TracerSize)/2); 
    left: calc(var(--CursorLeft) - var(--_TracerSize)/2);
    transition: 200ms ease-out;

    border-radius: 50%;
    pointer-events: inherit;
}
@media (max-width: 1280px) {
    /* 720p and less - sizing adjust */
    :root {
        --CursorSize: 24px;
    }
    #Cursor{
        border: 3px solid #66CED6;
        outline: 1.5px solid #232323;
    }
}
@media (max-width: 900px) {
    /* 500p? and less - sizing adjust */
    :root {
        --CursorSize: 16px;
    }
    #Cursor{
        border: 2px solid #66CED6;
        outline: 1px solid #232323;
    }
}
@media (max-width: 460px) {
    /* mobile - Cursor disabled */
    * {
        cursor: pointer;
    }
    #Cursor {
        display: none;
    }
}