@import url('https://fonts.googleapis.com/css2?family=Julee&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Nerko+One&display=swap');

html {
    scroll-behavior: smooth;
    transition: 1s;
}

:root {

    /* Colour Scheme */
    --TextColour: #E6E6E6;
    --PrimaryAccent: #66CED6;
    --SecondaryAccent: #E26D8A;
    --AltAccent: #9AC1A4;
    --MainBG: #232323;
    --AltBG: #2E4057;
}

* { /* a clean slate */
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: var(--MainBG);
}
.AnimatedBG {
    height: 100%;
    width: 100%;

    position: fixed;
    z-index: -1000;

    background-image: linear-gradient(100deg, var(--MainBG) 30%, black);
    display: flex;
}
    .AnimatedBG > img {
        width: 1000px;
        place-self: end;
        margin-inline: auto;
        margin-right: 3%;
        margin-bottom: 7%;
        rotate: -30deg;
        filter: invert(70%) sepia(35%) saturate(500%) hue-rotate(130deg) contrast(100%) blur(30px);
    }
header {
    position: fixed;
    display: inline-flex;
    width: 100vw;
    width: 100svw;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    font-family: "Julee";

    background: linear-gradient(#232323, #23232340 85%, #23232300);
    z-index: 1000;
}
    header > a {
        all: unset;
        width: 30vw;
        margin-top: 50vh;
        margin-top: 50svh;
        animation: AdjustLogo linear;
        animation-timeline: scroll(y);
    }
        header > a > img {
            width: 30vw;
            width: 30svw;
            height: auto;
        }
    .headerItems {
        display: inherit;
        justify-content: space-between;
        height: 60px;
        min-width: 25vw;

        padding: 0;
    }
        .headerItems > li{
            all: unset;
        }
        .headerItems > li > a:hover,
        .headerItems > li > a:focus {
            color: var(--SecondaryAccent);
        }
            .headerItems > li > a {
                font-size: 2.7vw;
                color: var(--PrimaryAccent);
                text-shadow: 2px 2px 0px var(--MainBG),
                             -2px 2px 0px var(--MainBG),
                             -2px 0px 0px var(--MainBG),
                             2px 0px 0px var(--MainBG),
                             2px -2px 0px var(--MainBG),
                             -2px -2px 0px var(--MainBG);
                text-underline-offset: 6px;
                padding: 5px;
            }
header::before, header::after {
    content: "";

    width: inherit;
    height: inherit;
    z-index: -1;

    background: var(--TextColour);
    position: absolute;
    top: -100px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);

    box-shadow: inset 0 0 15px var(--MainBG);
    animation: HeaderBGslide linear;
               animation-timeline: scroll(y);
}
header::after {
    z-index: -2;

    background: black;
    top: -96px;
}

main, section {    
    margin: 0;

    height: auto;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    background: none;
    box-shadow: inset 0 -3px 100px black,
                inset 0 3px 100px black;
}
    section > hr {
        /* all: unset; */
        width: 100%;
        height: 3px;
        background-image: linear-gradient(to right, #00000000 3%, #66CED6 30%, #E26D8A 40%, #E26D8A 60%, #66CED6 70%, #00000000 97%);
        border: none;
    }
    section > h2 {            
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 10%;
        padding-block: 5% 0;
        margin: 0;

        font-family: "Bellota";
        font-size: 95px;
        text-shadow: 5px 5px 0px black,
                    -5px 5px 0px black,
                    -5px 0px 0px black,
                    5px 0px 0px black,
                    5px -5px 0px black,
                    -5px -5px 0px black;
        color: var(--PrimaryAccent);
    }
        section > h2 > span {
            color: var(--SecondaryAccent);
        }

main {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
    main > img {
        position: absolute;
        filter: blur(5px);
        height: 100vh;
        height: 100svh;
        min-width: 100vw;
        min-width: 100svw;
    }
    main > address {
        z-index: 10;
        display: inline-flex;
    }
        main > address > .AnimGif {
            height: 40vh;
            height: 40svh;
            width: auto;
            padding: 2vh;
            padding-right: 10px;
        }
        main > address > div {
            background: linear-gradient(to right, #00000000 0%, #23232385 15%, #232323 50%, #23232385 85%, #00000000 100%);
            border: 1px solid;
            border-image: linear-gradient(to right, #00000000 0%,  #E6E6E6 10%, #E6E6E6 90%, #00000000 100%) 1;
            
            max-width: 500px;
            padding-block: 10px;
            margin-block: auto;
            padding-inline: 24px;
        }
        main > address > div > p {
            text-overflow: ellipsis;
            overflow: hidden;
            color: var(--SecondaryAccent);
            font-size: 30px;
            margin-block: 3px;
        }
            main > address > div > p > span {
                color: var(--TextColour);
            }
    main > .RepeatCustomer {
            position: fixed;
            display: inline-flex;
            gap: 0.8vw;
            padding-left: 25px;
            width: 45vw;
            aspect-ratio: 1/0.19;

            background: var(--AltAccent);

            right: -40vw;
            bottom: 9vh;

            border: 0.3vw solid var(--MainBG);
            border-radius: 2vw 0 0 2vw;
            border-right: 0;
            z-index: 100;

            transition: 1s ease-in;
    }
        main > .RepeatCustomer::before {
            content: '';
            width: inherit;
            height: auto;
            background: url("./Assets/Imgs/ReturnCustomerBG.webp");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            inset: 0;
            margin: auto;
            margin-top: 5px;
            margin-left: 30px;
        }
        main > .RepeatCustomer::after {
            content: '';
            background: #232323df;
            height: calc(100% - 20%);
            width: 0.7vw;
            position: absolute;
            inset: 0;
            margin: auto;
            margin-left: 10px;
            border-radius: 0.7vw 0 0 0.7vw;
        }
        main > .RepeatCustomer:hover::after,
        main > .RepeatCustomer:focus::after{
            background: var(--SecondaryAccent);
        }
            main > .RepeatCustomer > div {
                height: 100%;
                aspect-ratio: 1;
                background: url(./Assets/Imgs/ReturnCustomerX.webp);
                background-size: contain;
                background-repeat: no-repeat;
                z-index: 1;
            }
    main > .RepeatCustomer:hover,
    main > .RepeatCustomer:focus,
    .RCopen {
        right: 0;
        transition: 750ms ease-in;
    }

.CalAndPaper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}   
    #BookingPage > .CalAndPaper > .Calendar {
        width: 600px;
        height: 400px;
        background: var(--AltAccent);
        rotate: -11deg;
        box-shadow: -10px 10px #9ac1a4b3,
                    -20px 20px #9ac1a480,
                    -30px 30px #9ac1a44d;
    }

        .Calendar > .Cal-Top {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            height: 15%;
            padding-block: 5% 0px;
            padding-inline: 2%;
        
            color: white;
            font-size: 55px;
            font-family: "Nerko One";
            align-items: center;
            text-shadow: 2px 2px 10px black;
        }
            .Calendar > .Cal-Top > button {
                all: unset;
                font-size: 75px;
                padding-inline: 10px;
            }
            .Calendar > .Cal-Top > button:hover,
            .Calendar > .Cal-Top > button:focus{
                color: var(--SecondaryAccent);
            }
        .Calendar > .Cal-Btm {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            height: 75%;
            gap: 3px 0;
            margin-inline: 3%;
            margin-top: 2.5%;
            border-radius: 25px;
            overflow: hidden;
        }
            .Calendar > .Cal-Btm > .CalDay {
                display: grid;
                place-items: center;
                color: black;
                background: white;
                font-family: "Julee";
                font-size: 35px;
            }
            .Calendar > .Cal-Btm > .CalDay:hover {
                background: var(--TextColour);
            }
            .Calendar > .Cal-Btm > .CalDay:nth-child(7n), /* Weekend and unrepresented days */
            .Calendar > .Cal-Btm > .CalDay:empty, 
            .Calendar > .Cal-Btm > .RedDay{
                background: var(--SecondaryAccent);
            }
        
    #BookingPage > .CalAndPaper > .Paper {
        align-self: center;

        width: 550px;
        aspect-ratio: 3/2.9;
        background: url(./Assets/Imgs/torn_notebook.webp);
        background-size: contain;
        rotate: -3deg;
        padding-left: 95px;
        padding-top: 30px;
    }
        #BookingPage > .CalAndPaper > .Paper > .PaperHeading {
            justify-content: start;
            font-size: 50px;
            padding-top: 13px;
            padding-bottom: 45px;
        }
        #BookingPage > .CalAndPaper > .Paper > p {
            display: flex;
            justify-content: space-around;
            font-size: 24px;
            margin: 0;
            line-height: 37px;
            max-width: 35ch;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            #BookingPage > .CalAndPaper > .Paper > p > .TimeSlot {
                text-shadow: 1px 1px 3px #0000003f;
            }
            #BookingPage > .CalAndPaper > .Paper > p > .Open {
                color: black;
            }
                #BookingPage > .CalAndPaper > .Paper > p > .Open:hover,
                #BookingPage > .CalAndPaper > .Paper > p > .Open:focus {
                    color: var(--PrimaryAccent);
                }
            #BookingPage > .CalAndPaper > .Paper > p > .Closed {
                color: var(--SecondaryAccent);
            }
#ShoppingPage > h3 {
    width: 100%;
    border: 3px solid;
    border-image: linear-gradient(to right, #00000000 3%, #66CED6 30%, #E26D8A 40%, #E26D8A 60%, #66CED6 70%, #00000000 97%) 1;
    background: linear-gradient(to right, #66CED6 35%, #E26D8A 40%, #E26D8A 55%, #66CED6 70%, #00000000);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Bellota";
    text-align: center;

    margin: 0;
    padding-block: -15px;
    font-size: 45px;

    overflow: visible;
}

#ShoppingPage, #AboutPage {
    overflow-y: scroll;
    direction: rtl;
    outline: 1px solid var(--MainBG);
}
    #ShoppingPage > *,
    #AboutPage > * {
        direction: ltr;
    }
.ShopGallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 50px;
    padding-inline: 7%;
    gap: 60px;
    justify-content: space-evenly;
}
    .ShopItem{
        grid-template-rows: 65% 20% 10%;

        aspect-ratio: 1/1.5;
        overflow: hidden;
    }
        .ShopItem > * {
            background: var(--TextColour);
            width: 100%;
            margin: 0;
        }
        .ShopItem > img {
            height: 60%;
            clip-path: polygon(0% 0%, 100% 8px, 100% 100%, 0% 100%);
            background: linear-gradient(3deg, var(--TextColour), #e6e6e68a 35%, transparent 90%);
        }
        .ShopItem > p {
            margin-top: -1px;

            padding-block: 5px;
            padding-inline: 10px;
            font-family: "Julee";
            font-size: 20px;
            font-weight: bold;
            height: 20%;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 8px));
        }
        .ShopItem > .BuyButton{
            height: 16%;
            clip-path: polygon(0% 0%, 100% 8px, 100% 100%, 0% calc(100% - 8px));    
            display: grid;
            place-items: center;
            /* overflow: hidden; */
            background: var(--PrimaryAccent);
        }
            .ShopItem > .BuyButton > p {
                all: unset;
                width: 150%;
                text-align: center;
                margin-top: -1.4vw;
                font-size: 6.5vw;
                font-weight: bolder;
                font-family: 'Times New Roman';
                color: var(--MainBG);  
            }
        .ShopItem > .SoldOut {
            background: var(--SecondaryAccent);
        }
            .ShopItem > .SoldOut > p{
                margin-top: -0.8vw;
                font-size: 5.15vw;
            }
.StaffMember {
    width: 100%;
    min-height: 50%;
    padding: 30px 50px;
}
    .StaffMember > .IMGframe {
        display: flex;
        width: 350px;
        aspect-ratio: 1/1.3;

        background: var(--MainBG);
        border-radius: 15px;
        float: left;
        
        border: 3px solid var(--TextColour);

        margin-right: 30px;
        margin-bottom: 30px;

        overflow: hidden;
    }
        .StaffMember > .IMGframe:hover,
        .StaffMember > .IMGframe:focus {
            border: 4px solid var(--PrimaryAccent);
            box-shadow: 0 0 10px var(--PrimaryAccent);
            transition: 750ms ease-in-out ;
        }
            .StaffMember > .IMGframe:hover .Socials > *, 
            .StaffMember > .IMGframe:focus .Socials > * {
                max-width: 15%;
            }
        .StaffMember > .IMGframe > .Socials{
            display: flex;
            justify-content: space-around;
            align-content: end;
            align-self: end;
            padding-block: 10px;
            width: 100%;

            background: linear-gradient(to top, black, transparent 65%);
        }
        .StaffMember > .IMGframe > .Socials > * {
            max-width: 0%;
            filter: invert(1);
        }
            .StaffMember > .IMGframe > .Socials > *:hover,
            .StaffMember > .IMGframe > .Socials > *:focus {
                filter: invert(65%) sepia(67%) saturate(3052%) hue-rotate(306deg) brightness(98%) contrast(81%);
            }
    .StaffMember > .AboutStaff {
        font-family: "Julee";
        font-size: 32px;
        color: white;
        text-align: center;
    }
        .StaffMember > .AboutStaff > .StaffName {
            width: 10%;
            background: linear-gradient(to right, var(--PrimaryAccent), var(--SecondaryAccent) 40%, var(--SecondaryAccent) 60%, var(--PrimaryAccent));
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: end;
            margin-inline: auto;
            margin-right: 0;
        }
        .StaffMember > .AboutStaff > .StaffName::before {
            content: "-";
            padding-right: 10px;
        }
#OurWorkPage > h2 {
    margin-bottom: 20px;
}
#OurWorkPage > .ScrollGalleryWindow {
    padding-block: 1.5vh;
    overflow: hidden;
    width: 100vw;
    width: 100svw;
    height: 35vh;
    height: 35svh;
    margin-left: auto;
}
    #OurWorkPage > .ScrollGalleryWindow > .ScrollGallery {
        display: flex;
        flex-direction: row;
        width: max-content;
        height: 100%;
        overflow: visible;
        gap: 1.5vw;
        padding-inline: 30px;
        animation: ScrollGal 30s infinite cubic-bezier(0.3, 0, 0.3, 1);
    }
    .ScrollGallery:hover {
        animation-play-state: paused !important;
    }
        .ScrollGallery > img {
            min-height: 100%;
            aspect-ratio: 1/0.65;
            border: 5px solid var(--PrimaryAccent);
            border-radius: 35px;
            background: black;
        }
        .FromSocials > .ScrollGallery > img {
            border-color: var(--SecondaryAccent);
        }
#OurWorkPage > .FromSocials {
    width: 93vw;
    width: 93svw;
}
#OurWorkPage > .ExtraImages {
    display: none;
}
#OurWorkPage > .ExtraImages:nth-of-type(odd) > .ScrollGallery > img {
    border-color: var(--AltAccent);  
}
#HamburgerMenu {
    display: none;
}
.material-symbols-outlined.ico {
    font-size: 24px;
    color: var(--PrimaryAccent);
}
@keyframes AdjustLogo {
    10% {
        scale: 60%;
        margin-top: 4%;
    }
    to {
        scale: 60%;
        margin-top: 4%;
    }
}
@keyframes HeaderBGslide {
    15% {
        transform: translateY(100px);
    }
    to {
        transform: translateY(100px);
    }
}
@keyframes ScrollGal {
    50% {
        translate: 0px;
    }
}


@media (max-width: 1280px) {
    .headerItems > li > a {
        text-shadow: 1.5px 1.5px 0px var(--MainBG),
                     -1.5px 1.5px 0px var(--MainBG),
                     -1.5px 0px 0px var(--MainBG),
                     1.5px 0px 0px var(--MainBG),
                     1.5px -1.5px 0px var(--MainBG),
                     -1.5px -1.5px 0px var(--MainBG);
        padding: 5px;
    }
    header::before, header::after {
        top: -125px;
    }   
    header::after {
        top: -121px;
    }
    /*  */
    .AnimatedBG > img {
        width: 650px;
        margin-right: 0%;
        margin-bottom: 7%;
    }
    /*  */
    section > h2 {            
        font-size: 60px;
        text-shadow: 3px 3px 0px black,
                    -3px 3px 0px black,
                    -3px 0px 0px black,
                    3px 0px 0px black,
                    3px -3px 0px black,
                    -3px -3px 0px black;
    }
    /*  */
    main > address > div {
        padding-block: 8px;
        padding-inline: 18px;
    }
    main > address > div > p {
        font-size: 24px;
    }
    .material-symbols-outlined.ico {
        font-size: 22px;
    }
    /*  */
    #BookingPage > .CalAndPaper > .Calendar {
        width: 450px;
        height: 300px;
    }
        .Calendar > .Cal-Top {
            font-size: 45px;
        }
            .Calendar > .Cal-Top > button {
                all: unset;
                font-size: 55px;
                padding-inline: 5px;
            }
        .Calendar > .Cal-Btm {
            border-radius: 15px;
        }
            .Calendar > .Cal-Btm > .CalDay {
                font-size: 30px;
            }
        
    #BookingPage > .CalAndPaper > .Paper {
        width: 400px;
        padding-left: 65px;
        padding-top: 13px;
    }
        #BookingPage > .CalAndPaper > .Paper > .PaperHeading {
            font-size: 40px;
            padding-top: 13px;
            padding-bottom: 37px;
        }
        #BookingPage > .CalAndPaper > .Paper > p {
            font-size: 20px;
            line-height: 27px;
            max-width: 30ch;
        }
    /*  */
    #ShoppingPage > h3 {
        font-size: 35px;
    }
    .ShopGallery {
        gap: 45px;
        padding: 30px;
        padding-inline: 7%;
    }
    .ShopItem > p {
        padding-block: 3px;
        padding-inline: 6px;
        font-size: 14px;
    }
    /*  */
    .StaffMember {
        width: 100%;
        min-height: max-content;
    }
        .StaffMember > .IMGframe {
            width: 300px;
            border-radius: 10px; 
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .StaffMember > .AboutStaff {
            font-size: 25px;
        }
            .StaffMember > .AboutStaff > .StaffName {
                width: 15%;
            }
}

@media (max-width: 900px) {
    .headerItems > li > a {
        text-shadow: 1px 1px 0px var(--MainBG),
                     -1px 1px 0px var(--MainBG),
                     -1px 0px 0px var(--MainBG),
                     1px 0px 0px var(--MainBG),
                     1px -1px 0px var(--MainBG),
                     -1px -1px 0px var(--MainBG);
        padding: 5px;
    }
    header::before, header::after {
        top: -125px;
    }   
    header::after {
        top: -123px;
    }
    /*  */
    .AnimatedBG > img {
        width: 500px;
        margin-right: 1%;
        margin-bottom: 8%;
    }
    /*  */
    section > h2 {            
        font-size: 40px;
        text-shadow: 2px 2px 0px black,
                    -2px 2px 0px black,
                    -2px 0px 0px black,
                    2px 0px 0px black,
                    2px -2px 0px black,
                    -2px -2px 0px black;
    }
    /*  */
    main > address > div {
        padding-block: 5px;
        padding-inline: 15px;
    }
    main > address > div > p {
        font-size: 20px;
    }
    .material-symbols-outlined.ico {
        font-size: 18px;
    }
    /*  */
    #BookingPage > .CalAndPaper > .Calendar {
        width: 310px;
        height: 230px;
    }
        .Calendar > .Cal-Top {
            font-size: 30px;
        }
            .Calendar > .Cal-Top > button {
                font-size: 40px;
                padding-inline: 5px;
            }
        .Calendar > .Cal-Btm {
            border-radius: 12px;
        }
            .Calendar > .Cal-Btm > .CalDay {
                font-size: 20px;
            }
        
    #BookingPage > .CalAndPaper > .Paper {
        width: 300px;
        padding-left: 50px;
        padding-top: 12px;
    }
        #BookingPage > .CalAndPaper > .Paper > .PaperHeading {
            font-size: 25px;
            padding-top: 13px;
            padding-bottom: 23px;
        }
        #BookingPage > .CalAndPaper > .Paper > p {
            font-size: 16px;
            line-height: 20px;
            max-width: 30ch;
        }
    /*  */
    #ShoppingPage > h3 {
        font-size: 24px;
        
        border: 2px solid;
        border-image: linear-gradient(to right, #00000000 3%, #66CED6 30%, #E26D8A 40%, #E26D8A 60%, #66CED6 70%, #00000000 97%) 1;
        background: linear-gradient(to right, #66CED6 35%, #E26D8A 40%, #E26D8A 55%, #66CED6 70%, #00000000);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ShopGallery {
        gap: 35px;
        padding: 20px;
        padding-inline: 7%;
    }
    .ShopItem > p {
        padding-block: 3px;
        padding-inline: 6px;
        font-size: 10px;
    }
    /*  */
    .StaffMember {
        width: 100%;
        min-height: max-content;
    }
        .StaffMember > .IMGframe {
            width: 200px;
            border-radius: 10px; 
            margin-right: 20px;
            margin-bottom: 10px;
        }
        .StaffMember > .AboutStaff {
            font-size: 16px;
        }
            .StaffMember > .AboutStaff > .StaffName {
                width: 15%;
            }
}
@media (max-width: 460px) {
    #Cursor {
        display: none;
    }
    .AnimatedBG {
        z-index: -100;
        background-image: linear-gradient(135deg, var(--MainBG) 30%, black);
    }
        .AnimatedBG > img {
            width: 400px;
            margin-inline: auto;
            margin-bottom: 25%;
        }
    header {
        display: grid;
        place-content: center;
        height: 8vh;
    }
        header > a {
            all: unset;
            margin-top: 50vh;
            margin-top: 50svh;
            animation: AdjustLogo linear;
            animation-timeline: scroll(y);
        }
            header > a > img {
                width: 60vw;
                width: 60svw;
                align-self: center;
                height: auto;
                z-index: 100;
            }
        .headerItems {
            display: flex;
            display: none;
            position: fixed;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1vh;
            top: 3vh;
            right: 0;
            width: 20vw;
            height: 12vh;
            background: var(--TextColour);
            padding-bottom: 3vh;
            padding-left: 10px;
            box-shadow: -3px 0 black;
            z-index: 1;
        }
        .headerItems:nth-of-type(even){
            top: 13vh;
            height: 13vh;
            z-index: 2;
            background: linear-gradient(to bottom, var(--TextColour) 60%, transparent 98%);
        }
        .headerItems:nth-of-type(odd)::before{
            content: '';
            position: absolute;
            top: -10vh;
            left: 0;
            width: 30vw;
            z-index: -1;
            height: inherit;
            box-shadow: -3px 0 black;
            background: var(--TextColour);
        }
            .headerItems > li > a {
                font-size: 5vw;
                color: var(--PrimaryAccent);
                text-shadow: 1px 1px 0px var(--MainBG),
                             -1px 1px 0px var(--MainBG),
                             -1px 0px 0px var(--MainBG),
                             1px 0px 0px var(--MainBG),
                             1px -1px 0px var(--MainBG),
                             -1px -1px 0px var(--MainBG);
                text-underline-offset: 4px;
            }
    header::before, header::after {
        top: -100px;
    }
    header::after {
        top: -97px;
    }
    #HamburgerMenu {
        display: block;
        position: fixed;
        right: 3vw;
        top: 1vw;
        width: 20px;
        aspect-ratio: 1;
        z-index: 10 ;
    }
main, section {    
    margin: 0;

    height: auto;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    background: none;
    box-shadow: inset 0 -3px 100px black,
                inset 0 3px 100px black;
}
    section > hr {
        /* all: unset; */
        width: 110vh;
        margin-right: -5vh;
        height: 1.5px;
        background-image: linear-gradient(to right, #00000000, #66CED6 30%, #E26D8A 40%, #E26D8A 60%, #66CED6 70%, #00000000);
        border: none;
    }
    section > h2 {            
        padding-block: 11% 0;

        font-size: 35px;
        text-shadow: 1.5px 1.5px 0px black,
                    -1.5px 1.5px 0px black,
                    -1.5px 0px 0px black,
                    1.5px 0px 0px black,
                    1.5px -1.5px 0px black,
                    -1.5px -1.5px 0px black;
    }

main {
    display: flex;
    justify-content: center;
    align-items: end;
}
    main > address {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        z-index: 10;
    }
        main > address > .AnimGif {
            width: 25vw;
            width: 25svw;
            height: auto;
            padding: 1vh;
        }
        main > address > div {
            min-width: 60vw;
            padding-block: 5px;
            padding-inline: 30px;
        }
        main > address > div > p {
            font-size: 16px;
        }
    main > .RepeatCustomer {
            justify-content: end;
            flex-direction: column;
            gap: 0;
            max-width: 15vw;
            max-width: 15svw;
            aspect-ratio: 0.2/1;

            inset: 0;
            left: 5vw;
            top: -60vw;
            padding: 0;
            padding-bottom: 1vh;

            border: 0.6vw solid var(--MainBG);
            border-radius: 0 0 2vw 2vw;
            border-top: 0;
            z-index: 1000;
    }
        main > .RepeatCustomer::before {
            content: '';
            width: 500%;
            height: 25%;
            background: url("./Assets/Imgs/ReturnCustomerBG.webp") 0 0 no-repeat;
            background-size: contain;
            position: absolute;
            rotate: -90deg;
            top: 35%;
            left: -180%;
            margin: 0;
        }
        main > .RepeatCustomer::after {
            width: calc(100% - 20%);
            height: 1vw;
            margin-inline: auto;
            margin-bottom: 1vh;
            border-radius: 0 0 0.7vw 0.7vw;
        }
            main > .RepeatCustomer > div {
                max-height: 20%;
            }
    main > .RepeatCustomer:hover,
    main > .RepeatCustomer:focus,
    .RCopen {
        top: 0;
    }
    #BookingPage > .CalAndPaper {
        gap: 40px;
    }
    #BookingPage > .CalAndPaper > .Calendar {
        margin-top: 20px;
        width: 250px;
        height: 180px;
        box-shadow: -5px 5px #9ac1a4b3,
                    -10px 10px #9ac1a480,
                    -15px 15px #9ac1a44d;
    }
        .Calendar > .Cal-Top {
            font-size: 25px;
        }
            .Calendar > .Cal-Top > button {
                font-size: 30px;
                padding-inline: 5px;
            }
        .Calendar > .Cal-Btm {
            gap: 2px 0;
            border-radius: 12px;
        }
            .Calendar > .Cal-Btm > .CalDay {
                font-size: 100%;
            }
        
    #BookingPage > .CalAndPaper > .Paper {
        width: 230px;
        padding-left: 38px;
        padding-top: 12px;
    }
        #BookingPage > .CalAndPaper > .Paper > .PaperHeading {
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 21px;
        }
        #BookingPage > .CalAndPaper > .Paper > p {
            font-size: 12px;
            line-height: 15px;
            max-width: 30ch;
        }
    #ShoppingPage > h3 {
        display: block;
        font-size: 20px;
        width: 110vw;
        margin-right: -5vw;

        border: 1px solid;
        border-image: linear-gradient(to right, #00000000, #66CED6 30%, #E26D8A 40%, #E26D8A 60%, #66CED6 70%, #00000000) 1;
        background: linear-gradient(to right, #66CED6 35%, #E26D8A 40%, #E26D8A 55%, #66CED6 70%, #00000000);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .ShopGallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 24px;
        padding-inline: 7%;
    }
    .ShopItem > p {
        padding: 2px;
        font-size: 12px;
    }
    .ShopItem > .BuyButton > p {
        all: unset;
        width: 150%;
        text-align: center;
        margin-top: -2vw;
        font-size: 12vw;
        font-weight: bolder;
        font-family: 'Times New Roman';
        color: var(--MainBG);  
    }
    .ShopItem > .SoldOut > p{
        margin-top: -1.3vw;
        font-size: 11vw;
    }
    #OurWorkPage > h2 {
        margin-bottom: 0;
    }
    #OurWorkPage > .ScrollGalleryWindow {
        padding-block: 0.5vh;
        height: 21vh;
        height: 21svh;
    }
            .ScrollGallery > img {
                border-radius: 15px;
            }
    #OurWorkPage > .ExtraImages {
        display: flex;
    } 
    .StaffMember {
        width: 100%;
        min-height: max-content;
        padding: 15px 40px;
    }
        .StaffMember > .IMGframe {
            width: 150px;
            border-radius: 10px; 
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .StaffMember > .AboutStaff {
            font-size: 16px;
            text-align: left;
        }
            .StaffMember > .AboutStaff > .StaffName {
                width: 60%;
                text-align: center;
                margin-inline: auto;
            }
            .StaffMember > .AboutStaff > .StaffName::after,
            .StaffMember > .AboutStaff > .StaffName::before {
                content: "-";
                padding-inline: 10px;
            }
}